@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

* {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-inline: auto;
  }
  
table tr:nth-of-type(odd) {
    background-color: #f1f1f1;
}

table th {
    background-color: #bab9a9;
}
  
table th,
table td {
    padding: 8px;
    border: 1px solid #ddd;
}

